.btn-group-menu {
  .btn {
    border-radius: 0;
    border: 0;

    &:hover {
      border: 1 solid $gray-800;
      background-color: $light;
      color: $gray-900;
    }

    &:active {
      border: $gray-900;
      background-color: $gray-400;
    }
  }
}

.btn-windows {
  border-radius: 0;
  border: 0;
  box-shadow: none;
    flex: 1 0 auto;
    padding-left: $font-size-base;
    padding-right: $font-size-base;

  &-close {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    flex: 1 0 auto;
    padding-left: $font-size-base;
    padding-right: $font-size-base;

    &:hover, &:active, &:visited, &:focus, &:focus-visible {
      background-color: $red;
      color: $gray-900;
      border: none;
      border-radius: 0;
      color: $white;
    }
  }

  &:hover, &:active, &:visited, &:focus, &:focus-visible {
    background-color: $light;
    color: $gray-900;
    border: none;
    border-radius: 0;
  }

  i, svg {
    vertical-align: middle;
  }
}

.btn-toolbar {
  border-radius: 0;
  border: 1px $gray-500 solid;
  margin-right: $font-size-base * .5;
  align-items: center;
  justify-content: center;
  padding-left: $font-size-base * .5;
  padding-right: $font-size-base * .5;

  &:hover, &:focus, &:focus-within {
    border: 1px $gray-500 solid;
  }

  &:active, &:focus-visible {
    background: $gray-400;
    -webkit-box-shadow: inset 0px 0px 5px $gray-600;
    -moz-box-shadow: inset 0px 0px 5px $gray-600;
    box-shadow: inset 0px 0px 5px $gray-600;
    border-bottom: 1px $light solid;
    border-left: 1px $gray-500 solid;
    border-top: 1px $gray-500 solid;
    border-right: 1px $light solid;
  }

  .icon {
    color: $primary;

     &:hover, &:focus, &:focus-within {
        color: $primary;
      }

      &:active, &:focus-visible {
        color: $primary;
      }
  }
}

.btn-toolbar-app {
  width: 27px;
  height: 27px;

  border-radius: 0;
  border: 1px $gray-500 solid;

  margin-right: $font-size-base * .5;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: $box-shadow-sm;
  transition: none !important;

  &:focus, &:hover {
    border: 1px $gray-500 solid;
    box-shadow: $box-shadow-sm;
  }

  &:active, &:focus-visible {
    box-shadow: inset 0px 0px 5px $gray-500;

    border-bottom: 1px $light solid;
    border-left: 1px $gray-500 solid;
    border-top: 1px $gray-500 solid;
    border-right: 1px $light solid;
  }

  .icon {
    color: $primary;

    &:hover,
    &:focus,
    &:focus-within {
      color: $primary;
    }

    &:active,
    &:focus-visible {
      color: $primary;
    }
  }
}

.card-toolbar {
  color: $light;

  .btn-windows, .btn-windows-close {
    padding-top: $spacer * .3;
    padding-bottom: $spacer * .3;
    color: $white;
  }
}
