.w-200px {
  width: 200px;
}

.w-300px {
  width: 300px;
}

.w-30px {
  width: 30px;
}

.icon-windows{
  width: $font-size-base * 1.4;
  height: $font-size-base * 1.4;
}

.icon-lg{
  width: $font-size-base * 1.3;
  height: $font-size-base * 1.3;
}

.icon-md{
  width: $font-size-base;
  height: $font-size-base;
}

.icon-sm{
  width: $font-size-base;
  height: $font-size-base;
}
