.sidebar {
  background-color: $bg-control;

  ul {
    li {
      a {
          border-top: 1px $light solid;
          border-right: 1px $light solid;
          border-left: 1px $light solid;
          border-bottom: 1px $gray-500 solid;
          padding-top: $font-size-base * .4;
          padding-bottom: $font-size-base * .4;
          color: $gray-900;
        &:hover {
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          border-right: 1px solid $gray-600;
          border-bottom: 1px solid $gray-600;
        }

        .icon {
          margin-right: $font-size-base;
        }
      }
    }
  }
}
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
