.table-windows-container {
  background-color: $white;
}

.table-windows {
  margin-bottom: 0;
  box-shadow: $box-shadow-sm;

  tr>td {
    border: 1px solid $gray-300;

    &:first-child {
      border-left-color: $gray-500;
    }

    &:last-child {
      border-right-color: $gray-500;
    }
  }

  tr:last-child>td {
    border-bottom: 1px solid $gray-500;
  }

  &>thead>tr>td {
    background-color: $light;
    border: $border-width $border-style $gray-500;
    box-shadow: $box-shadow-inset;
  }
}

td,
th {
  &.fit {
    white-space: nowrap;
    width: 1%;
  }

  &.fit-wrap {
    width: 1%;
  }
}

tr:active,
tr:focus {
  background-color: aqua;
}
