.table-windows-container {
  background-color: $white;
  overflow-x: auto;
  min-height: 10rem;
  box-shadow: $box-shadow-sm;
  border: 1px solid $gray-500;
}

.table-windows {
  margin-bottom: 0;

  tr>td {

    border: 1px solid $gray-300;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  &>thead>tr>td {
    background-color: $light;
    box-shadow: $box-shadow-inset;
    border: 1px solid $gray-500;
    border-top: none;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}

td,
th {
  white-space: nowrap;

  &.fit {
    width: 1%;
  }

  &.fit-wrap {
    width: 1%;
  }
}

// tr:active,
// tr:focus {
//   //background-color: aqua;
// }
