$bg-content: #a0a0a0;
$bg-control: #f0f0f0;

$windows-height-header: 30px;
$windows-height-menu: 30px;

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints
