.windows-title {
  padding-top: $font-size-sm * .5;
  padding-bottom: $font-size-sm * .5;
  margin-left: $font-size-base;
}

.windows-action {
  display: flex;
}

.windows-menu {
  margin-left: $font-size-base * .5;
}

.windows-label {
  display: flex;
  align-items: center;
  justify-content: end;
}
